.lupa{
	width: 300px;
	margin: 0 auto;    
    min-width: 440px;
    position: relative;
    padding-bottom: 67px;

	.botao{
	}
	.fa{
		position: absolute;
		font-size: 27px;
		top: 0px;
		right: 0px;
		color: #fff;
		background-color: #c3c3c3;
		border-radius: 0 8px 8px 0;
		padding: 11px;
	}
} 