.lupa{
	width: 300px;
	margin: 0 auto;    
    min-width: 440px;
    position: relative;
    padding-bottom: 25px;

	.botao{
	}
	.fa{
		position: absolute;
		font-size: 27px;
		top: 0px;
		right: 0px;
		color: #fff;
		background-color: #c3c3c3;
		border-radius: 0 8px 8px 0;
		padding: 11px;
	}
} 

#more-features.homepage {
	#parceirosHere {
		> div {
			&:hover:before {
				position: absolute;
				height: 0px;
				width: 0px;
				content: inherit;
				background-color: transparent;
				border: none;
			}
			> div {
				background-size: contain;
			}
		}
	}
	.botao {
		text-align: center;
	}
}