$yellow: #ffb600;
$white: #FFF;

@import "flex";
@import "padrao"; 
@import "parceiros"; 
@import "website/login";
@import "website/cardapio";
@import "website/metodo-pagamento";
@import "website/confirmacao-pagamento";
@import "website/Detalhes-pedido";



#menu{
	padding: 82px 0 115px 0;
    overflow: hidden;
    width: 100%;

	.custom-select{
		width: 150px;
		height: 50px;
		border-radius: 8px;
		margin-top: 0 !important;
		margin-bottom: 8px !important;
		font-size: 15px;
		box-shadow: none;
		border-color: #ced4da;
		}
	.Prato{
		text-align: right; 

	}
	.botao{
		min-width: 440px;
		min-height: 50px;
		padding-top: 20px;
		padding-bottom: 20px;
		border-radius: 8px;
		box-shadow: none;
		border-color: #ced4da;
		position: relative;
		
	}
	.fa{
		font-size: 27px;
		color: #fff;
		background-color: #c3c3c3;
		border-radius: 0 8px 8px 0;
		padding: 10px 11px 12px;
		margin: -58px -47px;
		position: absolute;
	}
	.accordion{		
		
		.btn{
			color: #7b7b8b;
			font-size: 18px;
			font-family: Myriad Pro;

			span{
				display: inline-block;
			    width: 0;
			    height: 0;
			    margin-left: 480px;
			    vertical-align: middle;
			    border-top: 10px dashed;
			    border-left: 10px solid transparent;
			    border-right: 10px solid transparent;
			}					
		}		
		.collapse-show{

			.card-body{
				margin: 0;
    			padding: 0;

				ul{
					list-style: none;
					border-left: 0;
   					padding-left: 0;

					li{
						border-bottom: 1px solid #e0e0e0;
						display: inline-block;
						width: 100%;
						padding: 15px 0px;
						.image-holder{
							display: inline-block;
						    vertical-align: top;
							float: left;
							img{
								background-repeat: no-repeat;
							    background-size: contain;
							    opacity: 0;
							}						 
						}
						.text-holder{
							text-align: center;
							display: inline-block;
							padding-left: 10px;
							width: -webkit-calc(80% - 120px);
							width: -moz-calc(80% - 120px);
							width: calc(80% - 120px);
						    height: 90px;
						    float: left;
						    @include flexbox();
						    @include align-items(center);
							h6{
								color: #636363;
							    font-size: 22px;
							    font-family: Montserrat;
							    font-weight: 100;
							    text-align: left;
								margin: 0px;
								span{
									font-size: 12px;
								    color: #a9a9a9;
								    display: block;
								    line-height: 16px
								}
							}
						}
						.price-holder {
							width: 20%;
							float: left;
							height: 90px;
							@include flexbox();
							@include align-items(center);
							@include justify-content(flex-end);
						    
							.price{
								font-size: 22px;
							    color: #636363;
							    font-family: 'Montserrat', sans-serif;
							    vertical-align: middle;							  
							}
							a{
								position: relative;
							    display: inline-block;
							    outline: none;
							    text-decoration: none;
							    box-shadow: none;							
							}
						}
					}
				}
			}
		}						
	}
	.sticky-sidebar{
		position: relative;
		overflow: visible;
		box-sizing: border-box;
		min-height: 1px;

		.user-order{
			border: 1px solid #d6d6d6;
		    padding: 15px 0px;
		   
		    h6{
			    font-family: Montserrat;
			    font-size: 13px;
			    font-weight: 600;
		    	padding: 0 0 20px;

			    span{
			    	float: right;
			    	font-size: 13px;
    				font-weight: 400;
			    }
		    }
		    .price-area{
				margin: 0 0 12px;
				background-color: #f2f2f3;
				border: 1px solid rgba(0,0,0,.125);

				ul{
					margin: 5px 0;
					list-style: none;
					padding: 0;
					padding: 8px;

					li{
						font-size: 12px;
					    line-height: normal;
					    margin: 0 0 10px;
					    font-family: 'Open Sans', sans-serif;
					    font-family: Montserrat;
					    font-size: 13px;
					    font-weight: 600;
					    color: #333c45;

					    .price{
					    	color: #2f313a;
							float: right;
							font-size: 13px;
   							font-weight: 400;
					    }

					}
					.tempo{
						font-size: 11px;
    					font-weight: 700;
    					color: #333c45;
    					margin: 0;	

    					.min{
    						float: right;
    						font-size: 13px;
    						font-weight: 400;
    					}
					}
				}
			}
			.input-group{

				.form-control{
				    margin-left: 8px;
				    border-radius: 6px 0 0 6px;
				    font-size: 15px;
				}
				.input-group-append{
					margin-right: 8px;

					.input-group-text{
						border-radius: 0 6px 6px 0;
						color: #ffffff;
					    font-size: 14px;
					    font-weight: 800;
					    background-color: #c3c3c3;
					}
				}
				.atecao{

					p{
						font-size: 13px;
						margin: 5px 12px;
						font-weight: 100;

						span{
							color: #7b7b87;
							font-size: 14px;
							font-weight: 600;

						}
					}
				} 
			}	    
		    .pay-option{
		    	margin: 0 0 12px;

		    	li{
		    		color: #2f313a;
				    display: inline-block;
				    font-size: 12px;
				    font-weight: 700;
				    line-height: normal;
				    margin: 0 -4px 0 0;
				    text-align: center;
				    vertical-align: middle;
				    width: 50%;
		    	}
		    }
		    .menu-order{
		    	padding: 10px;
			    
			    .menu-order-confirm{
			    	background-color: #73c501;
			    	border: none;
				    display: block;
				    border-radius: 3px;
				    color: #fff;
				    font-family: 'Montserrat', sans-serif;
				    font-size: 12px;
				    font-weight: 700;
				    padding: 15px 0px;
				    text-transform: uppercase;
				    width: 100%;
				    text-align: center;
				    border-radius: 8px;
			    }
		    }
		}
	}	
}


