$yellow: #ffb600;
$white: #FFF;

@import "flex";
@import "padrao"; 
@import "parceiros"; 
@import "website/login";
@import "website/cardapio";
@import "website/metodo-pagamento";
@import "website/confirmacao-pagamento";
@import "website/detalhes-pedido"; 



#menu{
	padding: 82px 0 115px 0;
    overflow: hidden;
    width: 100%;

	.custom-select{
		width: 150px;
		height: 50px;
		border-radius: 8px;
		margin-top: 0 !important;
		margin-bottom: 8px !important;
		font-size: 15px;
		box-shadow: none;
		border-color: #ced4da;
		}
	.Prato{
		text-align: right; 

	}
	.botao{
		min-width: 440px;
		min-height: 50px;
		padding-top: 20px;
		padding-bottom: 20px;
		border-radius: 8px;
		box-shadow: none;
		border-color: #ced4da;
		position: relative;
		
	}
	.fa.fa-search {
		font-size: 27px;
		color: #fff;
		background-color: #c3c3c3;
		border-radius: 0 8px 8px 0;
		padding: 10px 11px 12px;
		margin: -58px -47px;
		position: absolute;
	}
	.accordion{		
		
		.btn{
			color: #7b7b8b;
			font-size: 18px;
			font-family: Myriad Pro;

			span{
				display: inline-block;
			    width: 0;
			    height: 0;
			    margin-left: 480px;
			    vertical-align: middle;
			    border-top: 10px dashed;
			    border-left: 10px solid transparent;
			    border-right: 10px solid transparent;
			}					
		}		
		.collapse-show{

			.card-body{
				margin: 0;
    			padding: 0;

				ul{
					list-style: none;
					border-left: 0;
   					padding-left: 0;

					li{
						border-bottom: 1px solid #e0e0e0;
						display: inline-block;
						width: 100%;
						padding: 15px 0px;
						.image-holder{
							display: inline-block;
						    vertical-align: top;
							float: left;
							img{
								background-repeat: no-repeat;
							    background-size: contain;
							    opacity: 0;
							}						 
						}
						.text-holder{
							text-align: center;
							display: inline-block;
							padding-left: 10px;
							width: -webkit-calc(70% - 120px);
							width: -moz-calc(70% - 120px);
							width: calc(70% - 120px);
						    height: 90px;
						    float: left;
						    @include flexbox();
						    @include align-items(center);
							h6{
								color: #636363;
							    font-size: 22px;
							    font-family: Montserrat;
							    font-weight: 100;
							    text-align: left;
								margin: 0px;
								span{
									font-size: 12px;
								    color: #a9a9a9;
								    display: block;
								    line-height: 16px
								}
							}
						}
						.price-holder {
							width: 30%;
							float: left;
							height: 90px;
							@include flexbox();
							@include align-items(center);
							@include justify-content(flex-end);
						    
							.price{
								font-size: 22px;
							    color: #636363;
							    font-family: 'Montserrat', sans-serif;
							    vertical-align: middle;
							    padding-right: 8px;							  
							}
							a{
								position: relative;
							    display: inline-block;
							    outline: none;
							    text-decoration: none;
							    box-shadow: none;							
							}
						}
					}
				}
			}
		}						
	}
		
}


